@mixin changeTextColor($desiredColor) {
  h2 {
    color: $desiredColor;
  }
}

@mixin addBackGround($firstColor,$secondColor) {
  background-image: linear-gradient(to bottom right, $firstColor, $secondColor);
  background-size: cover;

}
