// @media(max-width:767px){} //SIZE XS
// @media(min-width:768px){} //SIZE SM
// @media(min-width:992px){} //SIZE MD
// @media(min-width:1200px){}  //SIZE LG

$maxSmall: "(max-width: 767px)";
$small: "(min-width: 767px)";
$medium: "(min-width: 767px)";
$large: "(min-width: 767px)";
