@use 'app/sass/helpers/variables';
@use 'app/sass/helpers/functions';
@use 'app/sass/helpers/mixins';

@use 'app/sass/components/buttons';
@use 'app/sass/layout/header';
@use 'app/sass/layout/grid';
@use 'app/sass/layout/footer';

@import "~font-awesome/css/font-awesome.css";


html,body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  // background-color: rgb(46, 28, 54);

  @include mixins.addBackGround(rgb(13, 13, 59),rgb(94, 94, 145));
}

