@use '../sass/helpers/variables';

.categoryContainer{
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  margin-top: 5px;
  font-family: variables.$appFont;
  color: white;
  .category{
    font-weight: 500;
    font-size: variables.$categoryFontSize;
    margin-bottom: 10px;
  }
  .date{
    font-weight: 300;
  }
}
