@use '../sass/helpers/variables';

.categoryContainer{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 30px;
  height: 60px;
  font-family: variables.$appFont;
  color: variables.$whiteBackgroundColor;
  .category{
    font-weight: 500;
    font-size: variables.$categoryFontSize;
    margin-bottom: 10px;
  }
  .date{
    font-weight: 300;
  }
}
