///All of the styling of the
/// containers is available
/// in the _grid.scss file

@use 'sass/helpers/variables';

.initMessage{
  background: rgba(black,0.5);
  width: 220px;
  // height: 150px;
  padding: 30px;
  border-radius: variables.$borderRad;
  text-align: center;
  color: white;
  font: {
    size: 15px;
    family: variables.$appFont;
    weight: 300;
  }

  img{
    width:120px;
  }
}
