@use '../sass/helpers/variables';

.initMessageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .initMessage {
    background: rgba(black, 0.5);
    width: 250px;
    max-height: 200px;
    padding: 22px;
    border-radius: variables.$borderRad;
    text-align: center;
    color: variables.$whiteBackgroundColor;

    font: {
      size: variables.$appSmallfontSize;
      family: variables.$appFont;
      weight: 300;
    }

    img {
      width: 110px;
    }
  }
}
