@use '../helpers/variables';
@use '../helpers/mixins';


.container {
  margin: auto; // horizontally centered because it has margin: auto;
  padding-right: 10px;
  padding-left: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  height: 95%;

  //   p{
  //     color: blue;
  //   }
  // }

  .initMessageContainer{
    height: 100%;
    border: 1px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
  }


}
